<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <title>Tech Blog</title>
  </head>
  <body>
    <div>
      <header class="navigation">
        <h1><a class="link" href="/">Tech Talk</a></h1>
        <nav>
          <ul>
            <a class="link" href="/dashboard">Dashboard</a>
            {{#if logged_in}}
            <button class="no-button link" id="logout">Logout</button>
            {{else}}
            <a class="link" href="/login">Login</a>
            {{/if}}
          </ul>
        </nav>
      </header>
      <main class="container">
      {{{body}}}
      </main>
      <footer>
        you've reached the bottom of the page!
      </footer>
    </div>
      {{#if logged_in}}
      <script src="/js/logout.js"></script>
      {{/if}}
  </body>
</html>

